src/main/wsdl/PatientService.wsdl

<?xml version="1.0"?>

<wsdl:definitions name="PatientService" targetNamespace="http://example.com/patient-service"
    xmlns:ms="http://example.com/patient-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>

        <xsd:schema targetNamespace="http://example.com/patient-service" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   			
   			<xsd:complexType name="Patients">
            	<xsd:sequence>
              	 	<xsd:element minOccurs="0" maxOccurs="unbounded" name="Patient" nillable="true" type="ms:Patient" />
           	 	</xsd:sequence>
       		</xsd:complexType>
    		
    		<xsd:complexType name="Patient">
                <xsd:all>
                	<xsd:element name="id"  type="xsd:string" />
					<xsd:element name="patientIDType"  type="xsd:string" />
					<xsd:element name="familyName" type="xsd:string" />
					<xsd:element name="givenName" type="xsd:string" />
					<xsd:element name="gender" type="xsd:string" />
					<xsd:element name="birthDate" type="xsd:string" />
					<xsd:element name="maritalStatusCode" type="xsd:string" />
					<xsd:element name="maritalStatusSystem" type="xsd:string" />
					<xsd:element name="maritalStatusDisplay" type="xsd:string" />
					<xsd:element name="address1City" type="xsd:string" />
					<xsd:element name="address1Country" type="xsd:string" />
					<xsd:element name="address1Line1" type="xsd:string" />
					<xsd:element name="address1PostalCode" type="xsd:string" />
					<xsd:element name="address1State" type="xsd:string" />
					<xsd:element name="telecom1Use" type="xsd:string" />
					<xsd:element name="telecom1Value" type="xsd:string" />
					<xsd:element name="telecom2Use" type="xsd:string" />
					<xsd:element name="telecom2Value" type="xsd:string" />
					<xsd:element name="careProviderReference" type="xsd:string" />
               </xsd:all>
            </xsd:complexType>
            
            <xsd:element name="CreatePatient" type="ms:Patient" />
            <xsd:element name="CreatePatientResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="id" type="xsd:string" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            
            
            <xsd:element name="GetPatient">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="id"  type="xsd:string" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
             <xsd:element name="GetPatientResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="Patient" type="ms:Patient" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
           
            <xsd:element name="GetPatients" type="ms:Patient" />
            <xsd:element name="GetPatientsResponse" type="ms:Patients" />
            
            <xsd:element name="UpdatePatient" type="ms:Patient" />
            <xsd:element name="UpdatePatientResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="status" type="xsd:string" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
           
            <xsd:element name="PatientFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="errorCode" type="xsd:string" />
                        <xsd:element name="errorMessage" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>

    
    <wsdl:message name="GetPatient">
        <wsdl:part name="body" element="ms:GetPatient" />
    </wsdl:message>

    <wsdl:message name="GetPatientResponse">
        <wsdl:part name="body" element="ms:GetPatientResponse" />
    </wsdl:message>
 
    
    <wsdl:message name="CreatePatient">
        <wsdl:part name="body" element="ms:CreatePatient" />
    </wsdl:message>

    <wsdl:message name="CreatePatientResponse">
        <wsdl:part name="body" element="ms:CreatePatientResponse" />
    </wsdl:message>
    
       
    <wsdl:message name="GetPatients">
    	<wsdl:part name="body" element="ms:GetPatients" />
    </wsdl:message>

    <wsdl:message name="GetPatientsResponse">
        <wsdl:part name="body" element="ms:GetPatientsResponse" />
    </wsdl:message>
    
    
    <wsdl:message name="UpdatePatient">
    	<wsdl:part name="body" element="ms:UpdatePatient" />
    </wsdl:message>

    <wsdl:message name="UpdatePatientResponse">
        <wsdl:part name="body" element="ms:UpdatePatientResponse" />
    </wsdl:message>
   
    
    <wsdl:message name="PatientFault">
        <wsdl:part name="fault" element="ms:PatientFault" />
    </wsdl:message>

    <!-- wsdl:portType describes messages in an operation -->
    <wsdl:portType name="PatientServicePortType">

        <wsdl:operation name="GetPatient">
            <wsdl:input message="ms:GetPatient" />
            <wsdl:output message="ms:GetPatientResponse" />
            <wsdl:fault name="PatientFault" message="ms:PatientFault" />
        </wsdl:operation>
        
        <wsdl:operation name="CreatePatient">
            <wsdl:input message="ms:CreatePatient" />
            <wsdl:output message="ms:CreatePatientResponse" />
            <wsdl:fault name="PatientFault" message="ms:PatientFault" />
        </wsdl:operation>
       
        <wsdl:operation name="GetPatients">
            <wsdl:input message="ms:GetPatients" />
            <wsdl:output message="ms:GetPatientsResponse" />
            <wsdl:fault name="PatientFault" message="ms:PatientFault" />
        </wsdl:operation>
        
       
        <wsdl:operation name="UpdatePatient">
            <wsdl:input message="ms:UpdatePatient" />
            <wsdl:output message="ms:UpdatePatientResponse" />
            <wsdl:fault name="PatientFault" message="ms:PatientFault" />
        </wsdl:operation>
   
          
    </wsdl:portType>

    <wsdl:binding name="PatientServiceSoapBinding" type="ms:PatientServicePortType">

        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

        <wsdl:operation name="GetPatient">

            <soap:operation soapAction="http://example.com/patient-service/get-patient" />

            <wsdl:input>
                <soap:body use="literal" namespace="http://example.com/patient-service" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://example.com/patient-service" />
            </wsdl:output>
            <wsdl:fault name="PatientFault">
                <soap:body use="literal" namespace="http://example.com/patient-service" />
            </wsdl:fault>
        </wsdl:operation>
    
         
        <wsdl:operation name="CreatePatient">

            <soap:operation soapAction="http://example.com/patient-service/create-patient" />

            <wsdl:input>
                <soap:body use="literal" namespace="http://example.com/patient-service" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://example.com/patient-service" />
            </wsdl:output>
            <wsdl:fault name="PatientFault">
                <soap:body use="literal" namespace="http://example.com/patient-service" />
            </wsdl:fault>
            
        </wsdl:operation>
      
        
        <wsdl:operation name="GetPatients">

            <soap:operation soapAction="http://example.com/patient-service/get-patients" />

            <wsdl:input>
                <soap:body use="literal" namespace="http://example.com/patient-service" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://example.com/patient-service" />
            </wsdl:output>
            <wsdl:fault name="PatientFault">
                <soap:body use="literal" namespace="http://example.com/patient-service" />
            </wsdl:fault>
        </wsdl:operation>
        
        
        <wsdl:operation name="UpdatePatient">

            <soap:operation soapAction="http://example.com/patient-service/update-patient" />

            <wsdl:input>
                <soap:body use="literal" namespace="http://example.com/patient-service" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://example.com/patient-service" />
            </wsdl:output>
            <wsdl:fault name="PatientFault">
                <soap:body use="literal" namespace="http://example.com/patient-service" />
            </wsdl:fault>
        </wsdl:operation>
    
    </wsdl:binding>

    <wsdl:service name="PatientService">
        <wsdl:documentation></wsdl:documentation>

        <!-- connect it to the binding "EndorsementSearchSoapBinding" above -->
        <wsdl:port name="PatientServicePort" binding="ms:PatientServiceSoapBinding">

            <!-- give the binding a network address -->
            <soap:address location="http://patientservice.getsandbox.com/patientService" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>